<h2>Support Center</h2>

<p>Before submitting a support ticket, you may wish to first:</p>

<ul>
  <li><a href="yourwiki.com">Browse our support wiki</a></li>
  <li><a href="yoursystem.com">Check our system status</a></li>
</ul>

<h2><%= link_to('Submit a support ticket', :action => :new) %></h2>